# Machine Learning BookCamp - Zoom Camp

## Home work : 

### 01 Intro

#### [Chris Smith's Github Link](https://github.com/christopherlynnsmith/ml-bootcamp)

In [29]:
import numpy as np
import pandas as pd

In [30]:
# Q1
np.__version__

'1.21.6'

In [31]:
# Q2
pd.__version__

'1.3.5'

In [ ]:
df = pd.read_csv("data.csv")

In [ ]:
df.head()

In [ ]:
# Q3
df[
    df['Make'] == 'BMW'
].describe()

# mean price of BMW  = 61546.763473

In [ ]:
# Q4
df[
    df['Year'] >= 2015
].isna().sum() # or isnull().sum()

# is na Engine HP = 51

In [ ]:
# Q5
df_2015 = df[
    df['Year'] >= 2015
]
# mean with 51 nans.
mean_hp_before = df_2015["Engine HP"].mean()

In [ ]:
# Q5

# after filling NAN.
df_2015["Engine HP"].fillna(df_2015["Engine HP"].mean(),inplace=True)

In [ ]:
# Q5
# the mean didn't change
mean_hp_after = df_2015["Engine HP"].mean() 

df_2015["Engine HP"].isna().sum()

In [ ]:
print(round(mean_hp_before))
print(round(mean_hp_after))

In [ ]:
# Q6

df_RR = df[ df['Make'] == 'Rolls-Royce']
df_RR.head()

In [ ]:
X = df_RR[['Engine HP', 'Engine Cylinders', 'highway MPG']].drop_duplicates()
X

In [ ]:
XT = X.T
XT

In [ ]:
X.shape

In [ ]:
XT.shape

In [ ]:
XTX = np.dot(XT , X)
XTX
XTX_inv = np.linalg.inv(XTX)
XTX_inv, XTX_inv.sum()

# sum of inv XTX is = 0.0322

In [ ]:
# Q7
y = [1000, 1100, 900, 1200, 1000, 850, 1300]
w = np.dot(np.dot(XTX_inv,XT),y)
w
# first element is = 0.1998