# Machine Learning BookCamp - Zoom Camp

## Home work : 

### 01 Intro

#### [Chris Smith's Github Link](https://github.com/christopherlynnsmith/ml-bootcamp)

In [114]:
import numpy as np
import pandas as pd

Question 1:  What is the version of Numpy installed?

In [115]:
# Q1
np.__version__

'1.21.5'

In [116]:
# Q2
pd.__version__

'1.4.3'

Getting the data:

In [117]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

df = pd.read_csv("data.csv")

--2022-09-11 23:04:11--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv.1’

data.csv.1          100%[===================>]   1.41M  4.28MB/s    in 0.3s

2022-09-11 23:04:11 (4.28 MB/s) - ‘data.csv.1’ saved [1475504/1475504]

In [118]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

Q2: How many records in the dataset:

In [119]:
df.index
rowCount = len(df.index)
print("The number of rows is >>", rowCount)

The number of rows is >> 11914

Question 3:
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [123]:
#Q3
print(df.Make.value_counts())

print("mode of Make series is >>>", df.Make.mode())

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64
mode of Make series is >>> 0    Chevrolet
Name: Make, dtype: object

Question 4
What's the number of unique Audi car models in the dataset?

In [124]:
#Q4:
df.groupby('Make')['Model'].nunique()

Make
Acura            18
Alfa Romeo        1
Aston Martin     12
Audi             34
BMW              39
Bentley          18
Bugatti           1
Buick            20
Cadillac         30
Chevrolet        63
Chrysler         19
Dodge            33
FIAT              5
Ferrari          14
Ford             51
GMC              30
Genesis           1
HUMMER            2
Honda            21
Hyundai          22
Infiniti         38
Kia              16
Lamborghini       6
Land Rover       11
Lexus            46
Lincoln          16
Lotus             5
Maserati          8
Maybach           3
Mazda            31
McLaren           4
Mercedes-Benz    40
Mitsubishi       22
Nissan           32
Oldsmobile       18
Plymouth         10
Pontiac          20
Porsche          12
Rolls-Royce      10
Saab              8
Scion             8
Spyker            1
Subaru           16
Suzuki           16
Tesla             1
Toyota           39
Volkswagen       31
Volvo            26
Name: Model, dtype: int64

Question 5
How many columns in the dataset have missing values?

In [125]:
# Q5
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

Question 6
Find the median value of "Engine Cylinders" column in the dataset.
Next, calculate the most frequent value of the same "Engine Cylinders".
Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
Now, calculate the median value of "Engine Cylinders" once again.
Has it changed?

In [126]:
df.sort_values(by=['Engine Cylinders'])

# median of Engine Cylinders column
# Central tendenacy

medianValue= df['Engine Cylinders'].median()

print ("The median value is >>", medianValue)


# Next, calculate the most frequent value of the same "Engine Cylinders".

mostFrequentCylinderCount = df['Engine Cylinders'].value_counts().idxmax()

print ( "most frequent cylinder count is>>", mostFrequentCylinderCount)

df['Engine Cylinders'].value_counts()



# Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.

numberMissingValues = df['Engine Cylinders'].isna().sum()

print ( "number of rows missing cylinder count is>>", numberMissingValues)


df['Engine Cylinders'].fillna(mostFrequentCylinderCount,inplace=True)



mostFrequentCylinderCount = df['Engine Cylinders'].value_counts().idxmax()

print ( "After filling in missing values, most frequent cylinder count is>>", mostFrequentCylinderCount)

#another way to check.
mostFreqCheck = df['Engine Cylinders'].mode()

print ( "After filling in missing values, most frequent cylinder count is>>", mostFreqCheck)

The median value is >> 6.0
most frequent cylinder count is>> 4.0
number of rows missing cylinder count is>> 30
After filling in missing values, most frequent cylinder count is>> 4.0
After filling in missing values, most frequent cylinder count is>> 0    4.0
Name: Engine Cylinders, dtype: float64

Question 7
Select all the "Lotus" cars from the dataset.
Select only columns "Engine HP", "Engine Cylinders".
Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the first element of w?

In [127]:
# Q7: all lotus cars

df [ df['Make'] == 'Lotus']




dfLotus  = df [ df['Make'] == 'Lotus']

dfLotus['Vehicle Style'].value_counts()

print(dfLotus)

#numberLotusCars = len(dfLotus.axes[0])

#print("number of rows>>", numberLotusCars)

       Make      Model  Year                Engine Fuel Type  Engine HP  \
3912  Lotus      Elise  2009     premium unleaded (required)      189.0
3913  Lotus      Elise  2009     premium unleaded (required)      218.0
3914  Lotus      Elise  2009     premium unleaded (required)      189.0
3915  Lotus      Elise  2010     premium unleaded (required)      189.0
3916  Lotus      Elise  2010     premium unleaded (required)      218.0
3917  Lotus      Elise  2011     premium unleaded (required)      189.0
3918  Lotus      Elise  2011     premium unleaded (required)      217.0
3919  Lotus      Elise  2011     premium unleaded (required)      217.0
4216  Lotus     Esprit  2002     premium unleaded (required)      350.0
4217  Lotus     Esprit  2003     premium unleaded (required)      350.0
4218  Lotus     Esprit  2004     premium unleaded (required)      350.0
4257  Lotus  Evora 400  2017     premium unleaded (required)      400.0
4258  Lotus  Evora 400  2017     premium unleaded (required)      400.0
4259  Lotus      Evora  2011     premium unleaded (required)      276.0
4260  Lotus      Evora  2011     premium unleaded (required)      276.0
4261  Lotus      Evora  2013     premium unleaded (required)      276.0
4262  Lotus      Evora  2013     premium unleaded (required)      345.0
4263  Lotus      Evora  2013     premium unleaded (required)      345.0
4264  Lotus      Evora  2013     premium unleaded (required)      276.0
4265  Lotus      Evora  2014     premium unleaded (required)      345.0
4266  Lotus      Evora  2014     premium unleaded (required)      276.0
4267  Lotus      Evora  2014     premium unleaded (required)      345.0
4268  Lotus      Evora  2014     premium unleaded (required)      276.0
4292  Lotus      Exige  2009  premium unleaded (recommended)      257.0
4293  Lotus      Exige  2009  premium unleaded (recommended)      240.0
4294  Lotus      Exige  2010  premium unleaded (recommended)      240.0
4295  Lotus      Exige  2011  premium unleaded (recommended)      240.0
4296  Lotus      Exige  2011  premium unleaded (recommended)      257.0
4297  Lotus      Exige  2011  premium unleaded (recommended)      257.0

      Engine Cylinders Transmission Type     Driven_Wheels  Number of Doors  \
3912               4.0            MANUAL  rear wheel drive              2.0
3913               4.0            MANUAL  rear wheel drive              2.0
3914               4.0            MANUAL  rear wheel drive              2.0
3915               4.0            MANUAL  rear wheel drive              2.0
3916               4.0            MANUAL  rear wheel drive              2.0
3917               4.0            MANUAL  rear wheel drive              2.0
3918               4.0            MANUAL  rear wheel drive              2.0
3919               4.0            MANUAL  rear wheel drive              2.0
4216               8.0            MANUAL  rear wheel drive              2.0
4217               8.0            MANUAL  rear wheel drive              2.0
4218               8.0            MANUAL  rear wheel drive              2.0
4257               6.0            MANUAL  rear wheel drive              2.0
4258               6.0            MANUAL  rear wheel drive              2.0
4259               6.0            MANUAL  rear wheel drive              2.0
4260               6.0            MANUAL  rear wheel drive              2.0
4261               6.0            MANUAL  rear wheel drive              2.0
4262               6.0            MANUAL  rear wheel drive              2.0
4263               6.0            MANUAL  rear wheel drive              2.0
4264               6.0            MANUAL  rear wheel drive              2.0
4265               6.0            MANUAL  rear wheel drive              2.0
4266               6.0            MANUAL  rear wheel drive              2.0
4267               6.0            MANUAL  rear wheel drive              2.0
4268               6.0            MANUAL  rear wheel drive              2.0
4292               4.0            MANUAL  rear wheel drive              2.0
4293               4.0            MANUAL  rear wheel drive              2.0
4294               4.0            MANUAL  rear wheel drive              2.0
4295               4.0            MANUAL  rear wheel drive              2.0
4296               4.0            MANUAL  rear wheel drive              2.0
4297               4.0            MANUAL  rear wheel drive              2.0

              Market Category Vehicle Size Vehicle Style  highway MPG  \
3912  Exotic,High-Performance      Compact   Convertible           27
3913  Exotic,High-Performance      Compact   Convertible           26
3914  Exotic,High-Performance      Compact   Convertible           27
3915  Exotic,High-Performance      Compact   Convertible           27
3916  Exotic,High-Performance      Compact   Convertible           26
3917  Exotic,High-Performance      Compact   Convertible           27
3918  Exotic,High-Performance      Compact   Convertible           26
3919  Exotic,High-Performance      Compact   Convertible           26
4216  Exotic,High-Performance      Compact         Coupe           21
4217  Exotic,High-Performance      Compact         Coupe           21
4218  Exotic,High-Performance      Compact         Coupe           21
4257  Exotic,High-Performance      Compact         Coupe           39
4258  Exotic,High-Performance      Compact         Coupe           39
4259  Exotic,High-Performance      Compact         Coupe           27
4260  Exotic,High-Performance      Compact         Coupe           26
4261  Exotic,High-Performance      Compact         Coupe           26
4262  Exotic,High-Performance      Compact         Coupe           26
4263  Exotic,High-Performance      Compact         Coupe           26
4264  Exotic,High-Performance      Compact         Coupe           26
4265  Exotic,High-Performance      Compact         Coupe           26
4266  Exotic,High-Performance      Compact         Coupe           26
4267  Exotic,High-Performance      Compact         Coupe           26
4268  Exotic,High-Performance      Compact         Coupe           26
4292  Exotic,High-Performance      Compact         Coupe           26
4293  Exotic,High-Performance      Compact         Coupe           26
4294  Exotic,High-Performance      Compact         Coupe           26
4295  Exotic,High-Performance      Compact         Coupe           26
4296  Exotic,High-Performance      Compact         Coupe           26
4297  Exotic,High-Performance      Compact         Coupe           26

      city mpg  Popularity   MSRP
3912        21         613  43995
3913        20         613  54990
3914        21         613  47250
3915        21         613  47250
3916        20         613  54990
3917        21         613  51845
3918        20         613  54990
3919        20         613  57950
4216        14         613  89825
4217        14         613  90825
4218        14         613  93225
4257        21         613  91900
4258        21         613  91900
4259        18         613  64000
4260        18         613  65500
4261        18         613  66800
4262        17         613  77100
4263        17         613  78600
4264        18         613  68300
4265        17         613  78750
4266        18         613  68750
4267        17         613  79980
4268        18         613  69980
4292        20         613  74995
4293        20         613  65690
4294        20         613  65690
4295        20         613  65690
4296        20         613  70750
4297        20         613  74950

In [129]:
# Q7: Select only columns "Engine HP", "Engine Cylinders".

dfLotus  = df [ df['Make'] == 'Lotus']

dfEngineInfo = dfLotus[["Engine HP","Engine Cylinders"]]

print(dfEngineInfo)

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3914      189.0               4.0
3915      189.0               4.0
3916      218.0               4.0
3917      189.0               4.0
3918      217.0               4.0
3919      217.0               4.0
4216      350.0               8.0
4217      350.0               8.0
4218      350.0               8.0
4257      400.0               6.0
4258      400.0               6.0
4259      276.0               6.0
4260      276.0               6.0
4261      276.0               6.0
4262      345.0               6.0
4263      345.0               6.0
4264      276.0               6.0
4265      345.0               6.0
4266      276.0               6.0
4267      345.0               6.0
4268      276.0               6.0
4292      257.0               4.0
4293      240.0               4.0
4294      240.0               4.0
4295      240.0               4.0
4296      257.0               4.0
4297      257.0               4.0

In [130]:
#Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).

dfEngineInfoUnique= dfEngineInfo.drop_duplicates(subset=['Engine HP', 'Engine Cylinders'])

print("The number of unique Lotus Cars>>",len(dfEngineInfoUnique.index))

The number of unique Lotus Cars>> 9

In [1]:
#get the underlying numpy array
X = dfEngineInfoUnique.to_numpy()

print(X)

#TRANSPOSE OF X
XT = np.transpose(X)

print(XT)

XTX = np.matmul(XT, X)

print(XTX)

# Calculating the inverse of the matrix
print(np.linalg.inv(XTX))

XTX_INVERSE=np.linalg.inv(XTX)

# create array - [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

matrixCalc = np.matmul(XTX_INVERSE, XT)

matrixCalc.shape

w = np.matmul(matrixCalc,y)

print("calculating the final result>>>>>>>>>>>")
print(w)

NameError: name 'dfEngineInfoUnique' is not defined